@{
    ViewData["Title"] = "Home Page";
}


@* // title
// custom title icon
// heading to intro the site
// 2 pics
// few paragraphs about golf
// footer with copyright info
// navigation to second page *@

<div id="title" class="text-center">

    <h1 class="display-4">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="100" height="100">
            <circle cx="12" cy="12" r="10" fill="#4CAF50" />
            <text x="50%" y="50%" text-anchor="middle" fill="#FFFFFF" font-size="12px" dy=".3em">SD</text>
        </svg>Golf
    </h1>

    <h5>A friendly place to start your journey of becoming a golf master!</h5>

</div>


<br/>
<br/>
<br/>

<div id="intro">

    <p>SD Golf is a premier golf instruction company dedicated to helping golf enthusiasts elevate their game to new heights. With a passion for the sport and a commitment to excellence, SD Golf offers personalized lessons tailored to each individual's skill level and goals. Whether you're a beginner looking to master the basics or a seasoned player aiming to refine your technique, our team of experienced instructors is here to guide you every step of the way.</p>

    <br />
    <img src="img/golfPic2.jpg" alt="Practicing Your Putts">
    <br />

    <p>At SD Golf, we understand that improving your swing is key to playing better golf, and our comprehensive approach focuses on all aspects of the game. From mastering the fundamentals of grip and stance to fine-tuning your tempo and shot selection, our lessons are designed to address your specific needs and maximize your potential on the course. With a combination of hands-on instruction, cutting-edge technology, and proven teaching methods, SD Golf is committed to helping you achieve lasting improvement and confidence in your game. Join us today and experience the difference that personalized instruction can make in your golf journey.</p>

    <br/>
    <img src="img/golfPic1.jpg" alt="Coach Adjusting Swing">
    <br/>

</div>


